<div class="left-nav">
    <h6 class="hello-user">Hello, Smith <img src="../../../assets/images/hand-symbol.svg"></h6>
    <ul class="leftnav-ul">
        <a routerLink="/user-grid">
            <li routerLinkActive="leftnav-active"><img src="../../../assets/images/dashboard-icon.svg">Dashboard</li>
        </a>
        <a routerLink="/modify-records">
            <li routerLinkActive="leftnav-active"><img src="../../../assets/images/modify-icon.svg">Modify</li>
        </a>
        <li><img src="../../../assets/images/reports-icon.svg">Reports</li>
        <li><img src="../../../assets/images/settings-icon.svg">Settings</li>
        <li><img src="../../../assets/images/help-icon.svg">Help</li>
    </ul>
    <div class="text-center">
        <img src="../../../assets/images/leftnav-bottom-img.svg" class="leftnav-btm-img">
    </div>
</div>