<div class="left-nav">
    <h6 class="hello-user">Hello, {{getUserFirstName()}} <img src="../../../assets/images/hand-symbol.svg"></h6>
    <ul class="leftnav-ul">
        <a routerLink="/user-grid">
            <li routerLinkActive="leftnav-active">
                <img src="../../../assets/images/dashboard-icon.svg">
                Dashboard
            </li>
        </a>
        <a routerLink="/modify-records">
            <li routerLinkActive="leftnav-active">
                <img src="../../../assets/images/modify-icon.svg">
                Modify
            </li>
        </a>
        <a routerLink="/reports">
            <li routerLinkActive="leftnav-active">
                <img src="../../../assets/images/reports-icon.svg">
                Reports
            </li>
        </a>
        <a routerLink="/settings">
            <li routerLinkActive="leftnav-active">
                <img src="../../../assets/images/settings-icon.svg">
                Settings
            </li>
        </a>
        <a routerLink="/help">
            <li routerLinkActive="leftnav-active">
                <img src="../../../assets/images/help-icon.svg">
                Help
            </li>
        </a>
    </ul>

</div>
<div class="text-center">
    <img src="../../../assets/images/leftnav-bottom-img.svg" class="leftnav-btm-img">
</div>