<header class="main-header">
    <div class="row">
        <div class="col-md-6 align-self-center">
            <span class="logo">
                <h4 class="mb-0"><span class="top-text-vert"><img src="../../../assets/images/3-bars.svg" class="me-4 header-bars"></span>
                    HCA</h4>
            </span>
        </div>
        <div class="col-md-6 align-self-center">
            <ul class="top-header-right">
                <li class="notifications-bell">
                    <img src="../../../assets/images/notification-bell.svg">
                    <span class="notification-count">6</span>
                </li>
                <li><span class="user-name me-2">Smith Jones</span> <img src="../../../assets/images/user-icon.svg"></li>
            </ul>
        </div>
    </div>
</header>
