.login-card{
    position: absolute;
    width: 370px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    box-shadow: 2px 1px 8px 2px #bababa;
    border-radius: 18px !important;
}
.form-group{
    margin-bottom: 1rem;
}
.form-group label{
    font-size: 15px;
    margin-bottom: 3px;
}
.login-side{
    position: relative;
    background: #F3F3F3;
}
.full-height{
    height: 100vh;
}
.login-btn{
    width: 100%;
}
.btn-primary a{
    text-decoration: none;
    color: inherit !important;
}
.error-red{
    color: red;
}