/*Variables*/
.btn-primary{
    background-color: #0077BD !important;
}
.btn-secondary{
    background-color: transparent !important;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    color: #000 !important;
}
.btn{
    padding: 5px 20px !important;
    font-size: 15px !important;
    &:focus{
        box-shadow: none !important;
    }
}


.main-grid{
    background-color: #F3F3F3;
}
.hello-user{
    font-weight: 500;
    padding: 0 1rem;
}
.left-nav{
    position: relative;
}
.grid-table{
    padding: 0 1rem;
}
.leftnav-ul{
    padding: 0;
    margin: 0;
    line-height: 2.7;
    list-style: none;
}
.leftnav-ul li{
    padding: 0 1rem;
}
.leftnav-ul li:hover{
    background: #0077bd;
    color: #fff;
    cursor: pointer;
    img{
        filter: brightness(3);
    }
}

.form-control:focus, .form-select:focus{
    box-shadow: none !important;
}
.leftnav-ul li img{
    height: 13px;
    margin-right: 0.5rem;
    vertical-align: baseline;
}
.leftnav-btm-img{
    width: 100%;
    max-width: 200px;
}
.leftnav-active{
    background: #0077bd;
    color: #fff;
    cursor: pointer;
    img{
        filter: brightness(3);
    }
}
.result-list-count{
    color: #57808D;
    font-size: 13px;
    margin-top: auto;
}
.grid-right-ul{
    padding: 0;
    margin-bottom: 0.6rem;
    list-style: none;
    display: flex;
    border: 1px solid #C6D8EE;
    border-radius: 3px;
    background: #fff;
    margin-right: 10px;
}
.right-move{
    display: flex;
    margin-left: auto;
}
.grid-right-ul li{
    padding: 3px 12px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
    align-self: center;
}
.grid-right-ul img{
    margin-right: 5px;
    vertical-align: middle;
}
.move-to-modify-icon{
    font-size: 10px;
}
.icon-size{
    height: 12px;
}
.grid-bg{
    background: #fff;
    padding: 1rem;
    max-height: 77vh;
    overflow: auto;
}
.grid-border-right{
    border-right: 1.5px solid #C6D8EE;
}
.grid{
    font-size: 10px;
}
.grid .form-check{
    min-height: auto !important;
    margin-bottom: 0 !important;
}
.form-check-input:focus{
    box-shadow: none !important;
}
.icon-size1{
    height: 10px;
}
.icon-size2{
    height: 20px;
}
.text-blur{
    filter: blur(2px);
}
.modal-dialog{
    width: 90% !important;
    max-width: 100% !important;
    height: 90vh;
    max-height: 100%;
    .modal-content{
        height: 100%;
    }
    .btn-close{
        font-size: 14px;
    }
}

a{
    text-decoration: none !important;
    color: inherit !important;
}
