<div class="filter-header">
    <div class="row m-0">
        <div class="col-md-2"></div>
        <div class="col-md-7 text-center">
            <ul class="filter-left">
                <li class="city-label">City</li>
                <li>
                    <select class="form-select header-city-drop" aria-label="Default select example">
                        <option selected>All</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </li>
                <li class="align-self-center left-border">
                    <div class="search">
                        <input class="form-control" type="search"
                            placeholder="Search with First Name, Last Name, Unique Link ID. etc.">
                        <span class="search-icon"><img src="../../../assets/images/search-icon.svg"></span>
                    </div>
                </li>
                <li class="left-space align-self-center">
                    <img src="../../../assets/images/sort-icon.svg" class="sort-img">
                </li>
            </ul>

        </div>
        <div class="col-md-3 align-self-center">
            <ul class="filter-left">
                <li>
                    <a href="./add-new-user.html" class="add-new1"> <span class="add-new"><img src="../../../assets/images/plus-icon.svg">Add
                            New</span></a>
                </li>
                <li class="align-self-center left-border">
                    <img src="../../../assets/images/single-grid-icon.svg" class="single-line-grid">
                    <img src="../../../assets/images/grid-icon.svg" class="grid-icon">
                </li>
            </ul>
        </div>
    </div>
</div>